body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FCF3C3;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

#scrollbar {
	height: 100%;
}

svg.hide-paths path {
	visibility: hidden;
}

svg.hide-paths .show-paths path {
	visibility: visible;
}

#root-container {
	display: flex;
	justify-content: center;
}

#root {
	position: relative;
}

#intro-ui {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

#buffer {
	height: 200px;
}

#ending-ui {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#intro-text {
	margin-bottom: 20px;
}

#intro-text h1 {
	text-align: center;
}

#ampersand {
	margin: 0 100px;
}

#hannah-joseph-bio {
	display: flex;
	justify-content: center;
}

.bio {
	width: 350px;
	text-align: center;
}

.bio h2 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, text {
	font-family: 'Nunito';
	color: #707070;
}

@media (max-width: 650px) {
	.svg-container {
		margin: 0 25%;
	}
}

.logo.hero {
	width: 450px;
	margin-bottom: 25px;
	max-width: 100%;
}

#play-button {
	border: solid 6px #000000;
	padding: 8px 50px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: background-color .2s;
	outline: none;
}

#play-button:hover {
	background-color: #F7E477;
}
