body, html {
	padding: 0;
	margin: 0;
	height: 100%;
	background-color: #FCF3C3;
}

html {
	scroll-behavior: smooth;
}

body {
	overflow-x: hidden;
}

#scroll {
	height: 100%;
}

svg.hide-paths path {
	visibility: hidden;
}

svg.hide-paths .show-paths path {
	visibility: visible;
}

#root-container {
	display: flex;
	justify-content: center;
}

#root {
	position: relative;
}

#intro-ui {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	flex-direction: column;
}

#ending-ui {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

#intro-text {
	margin-bottom: 15px;
}

#intro-text-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

#prologue {
	max-width: 500px;
	margin: 25px auto 50px;
	font-weight: bold;
}

.bio img {
	display: none;
}

#intro-text h1 {
	text-align: center;
}

#ampersand {
	margin: 0 100px;
}

#hannah-joseph-bio {
	display: flex;
	justify-content: center;
}

.bio {
	width: 350px;
	text-align: center;
}

.bio h2 {
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p, text {
	font-family: 'Nunito';
	fill: currentColor;
}

#wedding-details {
	max-width: 1000px;
	margin: 0 auto;
	margin-top: 100px;
}

#wedding-details-outer {
	padding: 30px;
	background-color: #96866C;
	border: 8px solid black;
	margin-bottom: 40px;
}

#wedding-details-inner {
	border: 8px solid black;
	background-color: white;
	padding: 20px;
}

#wedding-details-inner p {
	max-width: 500px;
	margin: 20px auto;
}

#wedding-details-inner h1, #wedding-details-inner h2 {
	text-align: center;
}

#wedding-details-inner h1 {
	margin: 25px auto 10px;
}

#wedding-details-inner h2 {
	margin: 10px auto 40px;
	font-weight: normal;
}

#wedding-details img {
	width: 300px;
	height: auto;
}

#signature {
	margin: 30px auto 50px;
}

#signature p {
	text-align: right;
	margin: 0 auto;
}

#image-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

@media (max-width: 1096px) {
	#intro-text-inner {
		flex-direction: column-reverse;
	}

	#wedding-details {
		margin-top: 125px;
	}

	#wedding-details-outer {
		padding: 15px;
		border-width: 4px;
	}

	#wedding-details-inner {
		border-width: 4px;
	}

	#wedding-details img {
		width: 200px;
	}

	.svg-container {
		margin: 0 25%;
	}

	#intro-text {
		display: flex;
		flex-direction: column;
		padding: 0 20px;
	}

	#intro-text h1 {
		text-align: left;
		margin-bottom: 22px;
	}

	#intro-text #hannah-joseph-bio {
		display: flex;
		flex-direction: column;
	}

	.hannah.bio {
		text-align: left;
		margin-right: auto;
	}

	.joseph.bio {
		text-align: right;
		margin-left: auto;
	}

	.joseph.bio p {
		margin-left: auto;
	}

	.bio {
		width: auto;
	}

	.bio p {
		max-width: 225px;
		margin-top: 4px;
	}

	.bio h2 {
		margin-bottom: 4px;
	}

	.bio img {
		display: initial;
	}

	#ampersand {
		text-align: center;
	}
}

.logo.hero {
	width: 600px;
	margin-bottom: 25px;
	max-width: 100%;
}

#play-button {
	border: solid 6px #000000;
	padding: 8px 50px;
	border-radius: 40px;
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	transition: background-color .2s;
	outline: none;
}

#play-button:hover {
	background-color: #F7E477;
}
